* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, #01e8ff, #f6ff33);
      }
      body .container {
        width: clamp(200px, 40vw, 600px);
        height: 30vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        row-gap: 6px;
      }

      .btnContainer {
        min-width: 200px;
        display: flex;
        justify-content: center;
        column-gap: 20px;
      }

      .btn {
        height: 30px;
        width: clamp(70px, 20vw, 100px);
        border-radius: 20px;
        outline: none;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: 0px 2px 5px 0px;
        cursor: pointer;
        font-family: fantasy;
        font-size: clamp(14px, 6vmin, 1em);
      }
      #btn1 {
        background-color: #01e8ff;
      }
      #btn2 {
        background-color: #f6ff33;
      }

      .generateGradient {
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: clamp(150px, 50vw, 200px);
        border-radius: 20px;
        border: none;
        background: #000000;
        color: #fff;
        font-size: 13px;
        transition: 0.3s ease-in;
        cursor: pointer;
        border: 1px solid #080808;
    box-shadow: 1px 1px 3px 3px #0f0f0f;
      }
      .generateGradient:hover {
        transform: scale(1.1);
      }

      .textMessage {
        font-family: fantasy;
        font-weight: 500;
        font-size: clamp(15px, 6vmin, 20px);
      }

      .copyCode {
        height: 150px;
        background-color: rgba(255, 255, 255, 0.203);
        backdrop-filter: blur(10px);
        display: flex;
        width: clamp(150px, 60vw, 300px);
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border-left: 2px solid white;
        padding-left: 5px;
        font-family: system-ui;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
      }